<html xmlns:th="http://www.thymeleaf.org">
    <div class="col-12" th:fragment="comments">
        <div class="row">
            <b><span th:text="#{issue.comments}"></span>:</b>
        </div>
        <div class="row">
            <ul class="list-group list-group-flush">
                <li class="list-group-item message_not_found" th:if="${command.comments.size == 0}">
                    <small class="text-muted">No comments</small>
                </li>
                <li class="list-group-item" th:each="comment, status : ${command.comments}">
                    <div class="row">
                        <p>Update by <span th:text="${comment.author.getFullname()}"></span> <span
                                th:text="${#temporals.format(comment.updateDate, 'MM/dd/yyyy HH:MM')}"></span>:<br>
                            <i>Status changed to <span th:text="${comment.status.name()}"></span> </i><br>
                            <span th:text="${comment.text}"></span>
                        </p>
                    </div>
                    <i class='bx bxs-trash-alt trash'></i>
                </li>
            </ul>
        </div>
    </div>
