:root {
    --main-border-radius: 3px;
}

html,
body {
    height: 100%;
    font-family: Nunito, serif;
}

body {
    overflow: hidden;
}

main {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-menu {
    height: 70px;
}

footer {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #898888;
    font-size: 12px;
}

.trash {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: var(--bs-secondary);
    transition: .5s;
}

.trash:hover {
    color: var(--bs-dark);
    transition: .5s;
}

.list-group-item {
    position: relative;
}
